## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print(app_train.shape)

(307511, 122)

#### 列出所有欄位

In [5]:
print(app_train.info)

<bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        NaN                       NaN
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        NaN                       NaN
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             NaN                        NaN
15                             0.0                        0.0
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0

#### 截取部分資料

In [6]:
print(app_train.iloc[0,:])
print("================================================================================================")
print(app_train.iloc[:,0])
print("================================================================================================")
print(app_train.iloc[2:5,3:5])

SK_ID_CURR                                           100002
TARGET                                                    1
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               M
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              0
AMT_INCOME_TOTAL                                     202500
AMT_CREDIT                                           406598
AMT_ANNUITY                                         24700.5
AMT_GOODS_PRICE                                      351000
NAME_TYPE_SUITE                               Unaccompanied
NAME_INCOME_TYPE                                    Working
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                     Single / not married
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.018801
DAYS_BIRTH                                            -9461
DAYS_EMPLOYED                                          -637
DAYS_REGISTRATION                                     -3648
DAYS_ID_PUBLISH                                       -2120
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           0
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                1
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                    Laborers
CNT_FAM_MEMBERS                                           1
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  2
OBS_60_CNT_SOCIAL_CIRCLE                                  2
DEF_60_CNT_SOCIAL_CIRCLE                                  2
DAYS_LAST_PHONE_CHANGE                                -1134
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                                0
AMT_REQ_CREDIT_BUREAU_DAY                                 0
AMT_REQ_CREDIT_BUREAU_WEEK                                0
AMT_REQ_CREDIT_BUREAU_MON                                 0
AMT_REQ_CREDIT_BUREAU_QRT                                 0
AMT_REQ_CREDIT_BUREAU_YEAR                                1
Name: 0, Length: 122, dtype: object
================================================================================================
0         100002
1         100003
2         100004
3         100006
4         100007
5         100008
6         100009
7         100010
8         100011
9         100012
10        100014
11        100015
12        100016
13        100017
14        100018
15        100019
16        100020
17        100021
18        100022
19        100023
20        100024
21        100025
22        100026
23        100027
24        100029
25        100030
26        100031
27        100032
28        100033
29        100034
           ...
307481    456225
307482    456226
307483    456227
307484    456228
307485    456229
307486    456230
307487    456231
307488    456232
307489    456233
307490    456234
307491    456235
307492    456236
307493    456237
307494    456238
307495    456239
307496    456240
307497    456241
307498    456242
307499    456243
307500    456244
307501    456245
307502    456246
307503    456247
307504    456248
307505    456249
307506    456251
307507    456252
307508    456253
307509    456254
307510    456255
Name: SK_ID_CURR, Length: 307511, dtype: int64
================================================================================================
  CODE_GENDER FLAG_OWN_CAR
2           M            Y
3           F            N
4           M            N

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [7]:
print(app_train.describe()) # 回傳描述性統計

          SK_ID_CURR         TARGET   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000  307511.000000  307511.000000      3.075110e+05
mean   278180.518577       0.080729       0.417052      1.687979e+05
std    102790.175348       0.272419       0.722121      2.371231e+05
min    100002.000000       0.000000       0.000000      2.565000e+04
25%    189145.500000       0.000000       0.000000      1.125000e+05
50%    278202.000000       0.000000       0.000000      1.471500e+05
75%    367142.500000       0.000000       1.000000      2.025000e+05
max    456255.000000       1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE  \
count  3.075110e+05  307499.000000     3.072330e+05
mean   5.990260e+05   27108.573909     5.383962e+05
std    4.024908e+05   14493.737315     3.694465e+05
min    4.500000e+04    1615.500000     4.050000e+04
25%    2.700000e+05   16524.000000     2.385000e+05
50%    5.135310e+05   24903.000000     4.500000e+05
75%    8.086500e+05   34596.000000     6.795000e+05
max    4.050000e+06  258025.500000     4.050000e+06

       REGION_POPULATION_RELATIVE     DAYS_BIRTH  DAYS_EMPLOYED  ...  \
count               307511.000000  307511.000000  307511.000000  ...
mean                     0.020868  -16036.995067   63815.045904  ...
std                      0.013831    4363.988632  141275.766519  ...
min                      0.000290  -25229.000000  -17912.000000  ...
25%                      0.010006  -19682.000000   -2760.000000  ...
50%                      0.018850  -15750.000000   -1213.000000  ...
75%                      0.028663  -12413.000000    -289.000000  ...
max                      0.072508   -7489.000000  365243.000000  ...

       FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
count     307511.000000     307511.000000     307511.000000     307511.000000
mean           0.008130          0.000595          0.000507          0.000335
std            0.089798          0.024387          0.022518          0.018299
min            0.000000          0.000000          0.000000          0.000000
25%            0.000000          0.000000          0.000000          0.000000
50%            0.000000          0.000000          0.000000          0.000000
75%            0.000000          0.000000          0.000000          0.000000
max            1.000000          1.000000          1.000000          1.000000

       AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
count               265992.000000              265992.000000
mean                     0.006402                   0.007000
std                      0.083849                   0.110757
min                      0.000000                   0.000000
25%                      0.000000                   0.000000
50%                      0.000000                   0.000000
75%                      0.000000                   0.000000
max                      4.000000                   9.000000

       AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
count               265992.000000              265992.000000
mean                     0.034362                   0.267395
std                      0.204685                   0.916002
min                      0.000000                   0.000000
25%                      0.000000                   0.000000
50%                      0.000000                   0.000000
75%                      0.000000                   0.000000
max                      8.000000                  27.000000

       AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
count              265992.000000               265992.000000
mean                    0.265474                    1.899974
std                     0.794056                    1.869295
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    1.000000
75%                     0.000000                    3.000000
max                   261.000000                   25.000000

[8 rows x 106 columns]

In [8]:
print(app_train.columns) # 回傳欄位名稱

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [9]:
print(app_train.index) # 回傳 index

RangeIndex(start=0, stop=307511, step=1)

In [10]:
print(app_train.AMT_CREDIT) # 回傳某個欄位的值

0          406597.5
1         1293502.5
2          135000.0
3          312682.5
4          513000.0
5          490495.5
6         1560726.0
7         1530000.0
8         1019610.0
9          405000.0
10         652500.0
11         148365.0
12          80865.0
13         918468.0
14         773680.5
15         299772.0
16         509602.5
17         270000.0
18         157500.0
19         544491.0
20         427500.0
21        1132573.5
22         497520.0
23         239850.0
24         247500.0
25         225000.0
26         979992.0
27         327024.0
28         790830.0
29         180000.0
            ...
307481     297000.0
307482     500566.5
307483     247275.0
307484     545040.0
307485     180000.0
307486     355536.0
307487    1071909.0
307488     135000.0
307489     521280.0
307490     135000.0
307491    1078200.0
307492    1575000.0
307493     946764.0
307494     479700.0
307495     808650.0
307496     337500.0
307497     270126.0
307498    1312110.0
307499     225000.0
307500    1303812.0
307501     269550.0
307502     225000.0
307503     345510.0
307504     331920.0
307505     225000.0
307506     254700.0
307507     269550.0
307508     677664.0
307509     370107.0
307510     675000.0
Name: AMT_CREDIT, Length: 307511, dtype: float64

In [11]:
app_train.sort_values(by = 'AMT_CREDIT') # 針對某個欄位做排序

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
51295,159395,0,Cash loans,M,Y,Y,0,72000.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
43617,150491,0,Cash loans,F,N,Y,0,99000.0,45000.0,4383.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
72466,184036,0,Cash loans,F,Y,Y,1,90000.0,45000.0,4581.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
91081,205765,0,Cash loans,F,N,N,0,171000.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
136953,258846,0,Cash loans,F,N,Y,0,67500.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
64895,175251,0,Cash loans,F,N,N,0,85500.0,45000.0,4581.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
9257,110765,0,Cash loans,M,Y,Y,0,135000.0,45000.0,4207.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
264346,406141,0,Cash loans,F,Y,N,0,112500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
170546,297659,0,Cash loans,F,N,Y,2,67500.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
59325,168761,0,Cash loans,F,N,Y,0,139500.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
52348,160622,0,Cash loans,F,N,N,1,63000.0,45000.0,4977.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
123513,243234,0,Cash loans,F,N,Y,0,67500.0,45000.0,4513.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
179734,308287,0,Cash loans,F,N,Y,2,112500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
254627,394647,0,Cash loans,F,N,Y,0,135000.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199310,331070,1,Cash loans,M,N,N,0,135000.0,45000.0,4905.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
244783,383318,0,Cash loans,F,N,Y,1,112500.0,45000.0,4207.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
30773,135719,0,Cash loans,F,N,Y,1,99000.0,45000.0,3604.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
105730,222686,1,Cash loans,M,Y,Y,1,94500.0,45000.0,5220.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
13378,115599,0,Cash loans,F,N,Y,1,90000.0,45000.0,4450.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
64605,174923,0,Cash loans,F,N,N,1,148500.0,45000.0,5337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
279636,423961,0,Cash loans,F,N,N,1,45000.0,45000.0,5467.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
279640,423965,0,Cash loans,F,N,Y,0,112500.0,45000.0,4855.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
213085,346932,0,Cash loans,F,N,Y,0,112500.0,45000.0,4608.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
202153,334336,0,Cash loans,F,Y,N,0,112500.0,45000.0,5337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
108713,226091,0,Cash loans,F,Y,N,0,112500.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
5925,106941,0,Cash loans,F,N,Y,0,67500.0,45000.0,4725.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
145396,268596,0,Cash loans,F,N,Y,0,67500.0,45000.0,1980.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
49705,157538,0,Cash loans,F,N,Y,0,45000.0,45000.0,4846.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
237442,375032,0,Cash loans,F,N,N,0,90000.0,45000.0,4608.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
64950,175317,0,Cash loans,M,Y,Y,1,76500.0,45000.0,4738.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155169,279870,0,Cash loans,M,N,N,1,313200.0,3075579.0,111001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
153358,277759,0,Cash loans,M,Y,Y,0,351891.0,3150000.0,113557.5,...,1,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
180450,309128,0,Cash loans,F,Y,N,0,303750.0,3150000.0,113557.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
161197,286869,0,Cash loans,M,Y,N,0,282073.5,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
239197,377037,0,Cash loans,F,Y,N,0,436500.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
122681,242239,0,Cash loans,M,N,N,1,727870.5,3150000.0,156933.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
164982,291254,0,Cash loans,M,N,N,0,431478.0,3150000.0,79632.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
32099,137220,0,Cash loans,M,Y,N,1,337500.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
285733,430924,0,Cash loans,F,Y,N,0,495634.5,3150000.0,77931.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
98646,214538,0,Cash loans,F,N,N,0,405000.0,3150000.0,79632.0,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,2.0
170935,298097,0,Cash loans,M,Y,Y,1,1575000.0,3299688.0,170986.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
286205,431470,0,Cash loans,F,Y,Y,1,621000.0,3312162.0,135031.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
250837,390234,0,Cash loans,M,Y,N,1,1053333.0,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
206594,339462,0,Cash loans,M,N,N,1,394501.5,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
279961,424374,0,Cash loans,M,Y,Y,2,225000.0,3375000.0,85320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184460,313808,0,Cash loans,M,Y,N,1,391972.5,3375000.0,85320.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
53936,162494,0,Cash loans,M,Y,N,0,900450.0,3600000.0,91008.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
104577,221360,0,Cash loans,M,Y,N,0,468000.0,3600000.0,91138.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
119380,238431,0,Cash loans,F,Y,N,0,292050.0,3860019.0,97578.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
14643,117085,0,Cash loans,F,Y,N,2,749331.0,3956274.0,197230.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186230,315893,1,Cash loans,F,N,N,0,458550.0,4027680.0,106380.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
95571,210956,0,Cash loans,M,N,Y,0,430650.0,4031032.5,102033.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
288455,434170,0,Cash loans,F,Y,N,1,450000.0,4050000.0,106839.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
287732,433294,0,Cash loans,F,Y,N,1,405000.0,4050000.0,102514.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
14852,117337,0,Cash loans,M,N,Y,1,760846.5,4050000.0,146002.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
17948,120926,0,Cash loans,M,Y,N,2,783000.0,4050000.0,258025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
110459,228135,0,Cash loans,M,N,N,2,864900.0,4050000.0,102384.0,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,0.0
133766,255139,0,Cash loans,F,Y,N,1,1307587.5,4050000.0,100197.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
120757,240007,0,Cash loans,M,N,N,0,587250.0,4050000.0,106969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
119681,238782,0,Cash loans,M,Y,Y,1,931365.0,4050000.0,102514.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0